.btn{
    min-width: 400px;
    min-height: 50px;
    height: auto;
}

.input-group-prepend {
  background-color: #aaa;
  border-radius: 5px; 
  
}

.hvr-curl-top-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-left:hover:before, .hvr-curl-top-left:focus:before, .hvr-curl-top-left:active:before {
  width: 25px;
  height: 25px;
}

p {
  font-family: Lato;
}

.btnClock {
  height: 100px;
  width: 90px;
  font-size: 55px;
  text-align: center;
}

.element {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  33% {
    background-color: #001F3F;
  }
  0% {
    background-color: darkgoldenrod;
  }
  33% {
      background-color: darkred;
  }
}
  
  .qBox {
    
    border-color: burlywood; 
    
  }
  