<div class="container-fluid">
    <div id="background-wrap">
      <div class="bubble x1"></div>
      <div class="bubble x2"></div>
      <div class="bubble x3"></div>
      <div class="bubble x4"></div>
      <div class="bubble x5"></div>
      <div class="bubble x6"></div>
      <div class="bubble x7"></div>
      <div class="bubble x8"></div>
      <div class="bubble x9"></div>
      <div class="bubble x10"></div>
    </div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <app-header [header]="'End Game'"></app-header>
    </div>
  </div><div class="container">

  <div class="row my-5">

    <div class="col-3 text-center"><h4>Total Questions</h4></div>
    <div class="col-3 text-center"><h4>Total Correct Answer(s)</h4> </div>
    <div class="col-3 text-center"><h4>Total Skipped Answer(s)</h4></div>
    <div class="col-3 text-center"><h4>Total Incorrect Answer(s)</h4></div>
    <hr>
    <div class="col-3 text-center"><h5>{{totalQuestion}}</h5></div>
    <div class="col-3 text-center"><h5>{{totalCorrect}}</h5></div>
    <div class="col-3 text-center"><h5>{{totalTimeOut}}</h5> </div>
    <div class="col-3 text-center"><h5>{{totalQuestion-totalCorrect-totalTimeOut}}</h5></div>
    <div class="col-12 my-5 text-center">

        <app-button [routerLink]="['/title']" [btnName]="'Start New Game'"></app-button>

    </div>


  </div>
  <hr>