<div class="container-fluid">
  <div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <app-header [header]="'Game Page'"></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
        <countdown [config] = "{leftTime: 30}" (finished)="onFinished()" class="count-down" style="display: inline;">$!s!</countdown>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <h3 class="text-center">Your Incorrect Answers will go here</h3>
      <p class="text-center">Incorrect Answer</p>
    </div>
    <div class="col-8">

      <div class="text-center">
        <p>
          <ngb-alert [dismissible]="false">
            <h4>{{q}}</h4>
          </ngb-alert>
        </p>

      </div>

    </div>
    <div class="col-2">
      <h3 class="text-center">Correct Answer</h3>
      <p class="text-center">{{correctCount}}</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-6">
      <div class=" btn d-flex justify-content-center mt-2">
        <button (click)="displayTriviaQ(a1)" class="btn btn-primary">{{a1}}</button>
        <!-- <app-clock [iPauseTimer] = "'pauseTimer()'" ></app-clock> -->
      </div>
    </div>

    <div class="col-6">
      <div class=" btn d-flex justify-content-center mt-2">
        <button (click)="displayTriviaQ(a2); pauseTimer(time)" class="btn btn-primary">{{a2}}</button>
      </div>
    </div>

    <div class="col-6">
      <div class="btn d-flex justify-content-center mt-2">
        <button (click)="displayTriviaQ(a3); pauseTimer(time)" class="btn btn-primary">{{a3}}</button>
      </div>
    </div>

    <div class="col-6">
      <div class="btn d-flex justify-content-center mt-2">
        <button (click)="displayTriviaQ(a4); pauseTimer()" class="btn btn-primary">{{a4}}</button>
      </div>
    </div>

    <div class="col-12">
      {{correctA}}
    </div>
    <div *ngIf = 'endGame' class="col-12">
      <a [routerLink] = "['/endGame']" [routerLinkActive] = "['active']" ></a>
    </div> 
        
   

  </div>
</div>