<div class="container-fluid">
    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <app-header [header]="'Game Page'"></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>

<div class="container">
  <!-- Main Section   -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">
        <app-clock></app-clock>
      </h2>
      
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <h3 class="text-center">Your Incorrect Answers will go here</h3>
      <p class="text-center">Incorrect Answer</p>
    </div>
    <div class="col-8 text-center">

      <div class="input-group-prepend">
        <h3>{{q}}</h3>
      </div>

    </div>
    <div class="col-2">
      <h3 class="text-center">Your Score will go here</h3>
      <p class="text-center">Your Score</p>
    </div>
  </div>
  <hr>

  <div id="modal_window">
    <div class="modal_message">
      <p></p>
    </div>

    <div class="row">

      <div *ngFor="let item of triviaAnswers" Class="col-6 d-flex justify-content-center mt-3">
        <a href="#" class="btn btn-primary btn-lg hvr-curl-top-left" role="button" aria-pressed="true">{{item}}</a>
      </div>
    </div>