<div class="container-fluid">
  <div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <app-header [header]="'Game Page'"></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
        <button class="btn-dark btnClock element">
        <countdown [config] = "{leftTime: 30}" (finished)="onFinished()" class="count-down" style="display: inline;">$!s!</countdown></button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <h3 class="text-center">Remining questions</h3>
      <h4 class="text-center">{{totalQuestions}}</h4>
    </div>
    <div class="col-8">

      <div class="qBox text-center">
        <p>
          <ngb-alert [dismissible]="false">
            <h4>{{q}}</h4>
          </ngb-alert>
        </p>

      </div>

    </div>
    <div class="col-2">
      <h3 class="text-center">Correct Answer</h3>
      <h4 class="text-center">{{correctCount}}</h4>
    </div>
    <div class="col-12 my-2 text-center">
      <h3><i> <Strong>Category : </Strong>{{cat}}</i></h3>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-center mt-3">
        <button (click)="displayTriviaQ(a1)" class="btn btn-primary hvr-curl-top-left">{{a1}}</button>
      </div>
    </div>

    <div class="col-6">
      <div class="d-flex justify-content-center mt-3">
        <button (click)="displayTriviaQ(a2)" class="btn btn-primary hvr-curl-top-left">{{a2}}</button>
      </div>
    </div>

    <div class="col-6">
      <div class="d-flex justify-content-center mt-3">
        <button (click)="displayTriviaQ(a3)" class="btn btn-primary hvr-curl-top-left">{{a3}}</button>
      </div>
    </div>

    <div class="col-6">
      <div class="d-flex justify-content-center mt-3">
        <button (click)="displayTriviaQ(a4)" class="btn btn-primary hvr-curl-top-left">{{a4}}</button>
      </div>
    </div>


    <div *ngIf = 'endGame' class="col-12">
      <a [routerLink] = "['/endGame']" [routerLinkActive] = "['active']" ></a>
    </div> 
        
   

  </div>
</div>