<div class="container-fluid mt-2">
    <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <app-header [header]="'Levels'"></app-header>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [routerLink]="['/game',topic,1]" [btnName]="'Hard'">

      </app-button>
    </div>
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [routerLink]="['/game',topic,2]" [btnName]="'Medium'"></app-button>
    </div>
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [routerLink]="['/game',topic,3]" [btnName]="'Easy'"></app-button>
    </div>
  </div>
</div>