<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-2">
      <app-header [header]="'Levels'"></app-header>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [routerLink]="['/game',topic,1]" [btnName]="'Hard'">

      </app-button>
    </div>
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [routerLink]="['/game',topic,2]" [btnName]="'Medium'"></app-button>
    </div>
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [routerLink]="['/game',topic,3]" [btnName]="'Easy'"></app-button>
    </div>
  </div>
</div>